@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Heebo&display=swap');




*{
    margin: 0;
}

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Heebo', sans-serif;
    background-color: black;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(30, 30, 30);
    width: 100%;
}

.efeito{
    width: 100%;
    height: 5px;
    background-image: linear-gradient(to right, #ddff00e4, #00ffea);
}

header ul{
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

header li{
    margin: 10px;
    
}

header h1{
    font-size: 55px;
    font-family: 'Foldit', cursive;
    margin: 10px;
    background-image: linear-gradient(to right, #ddff00e4, #00ffea);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -text-fill-color: transparent;
}

header a {
    text-decoration: none;
    color: aliceblue;
    font-size: 18px;
}


main{
    width: 100%;
}

.home img{
    width: 50%;
    margin: 70px;
    padding: 10px;
}

.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.desc_home{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desc_home h1{
    font-size: 40px;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    background-image: linear-gradient(to right, #ddff00e4, #00ffea);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -text-fill-color: transparent;
}

.desc_home p {
    color: aliceblue;
    margin: 15px;
    text-align: center;
    font-size: 17px;
}

.desc_home button {
    background-image: linear-gradient(to right, #ddff00e4, #00ffea);
    border: none;
    border-radius: 10px;
    font-size: 17px;
    padding: 15px;
    margin: 40px;
    width: 60%;
    color: black;
}

.desc_home button:hover{
    box-shadow: 1px 1px 10px white;
}

.quemsoueu{
    margin: 20px;
    color: aliceblue;
    border-top: 1px solid aliceblue;
}

.quemsoueu h1{
    padding-top: 50px;
    color: #00ffea;
    margin: 10px;

}

.quemsoueu p{
    margin: 20px;
    text-align: justify;
}

.portfolio{
    margin: 50px 20px;
    display: flex;
    flex-direction: column;
    border-top: 1px solid aliceblue;
}

.portfolio h1{
    color: #00ffea;
    margin: 10px;
    padding-top: 50px;
}

.portfolio p {
    color: aliceblue;

}

.portfolio img {
    margin: 5px;
    width: 90%;
}

.portfolio .box {
   
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
}

.contato{
    display: flex;
    flex-direction: column;
    color: aliceblue;
    margin: 20px;
    border-top: 1px solid aliceblue;

}
.contato ul{
    margin: 10px;
    padding: 10px;
}

.contato h1{
    padding-top: 50px;
    color: #00ffea;
    margin: 10px;
}

.contato form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 20px;
    padding: 20px;
}

.contato button{
    background-image: linear-gradient(to right, #ddff00e4, #00ffea);
    border: none;
    border-radius: 10px;
    font-size: 17px;
    padding: 8px;
    margin: 15px;
    width: 60%;
    margin-left: 113px;
    color: black;
}
.contato button:hover{
    box-shadow: 1px 1px 10px white;
}


.contato input{
    margin: 5px;
    padding: 7px;
    border-radius: 5px;
    border: none;
}

.contato .msg{
    padding: 7px;
    margin: 5px;
    border: none;
    border-radius: 5px;
}

main ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    

}
main li{
    margin: 10px;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    color: aliceblue;
    background-color: rgb(30, 30, 30);
}
footer p{
    font-size: 12px;
}
.icon{
    display: flex;
    flex-direction: row;
}

@media (min-width: 1000px){
    header{
        flex-direction: row;
        justify-content: space-between;
    }
    main .home{
        display: flex;
        width: 100%;
    }
    .home img{
        width: 25%;
    }
    .desc_home h1{
        margin:20px;
        padding: 20px;
        
    }
    .desc_home{
        justify-content: center;
        width: 70%;
        padding: 20px;
    }

    header li{
        margin:  0 30px ;
        
    }

    .desc_home h1{
        font-size: 50px;
        padding: 20px;
    }

    .desc_home button{
        width: 40%;
        padding: 20px;
        margin: 50px;
        margin-left: 300px;
    }
    main{
        width: 80%;
    }

    .contato2{
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .contato2 ul {
        margin: 10px;
        padding: 20px;
    }

    .contato2 li{
        padding: 10px;
    }

    .box{
        width: 60%;
    }
    .portfolio2{
        display: flex;
        flex-direction: row;
    }

    .home{
        flex-direction: row;
    }

}

